/*
* @Author: 我的文档
* @Date:   2018-08-26 20:18:47
* @Last Modified by:   我的文档
* @Last Modified time: 2018-08-29 18:12:10
*/
header{
	height: 114px;
	width: 100%;
	background: #fff;
}
header .list i{
	width: 100px;
	height: 50px;
	float: left;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	color: #FF6537;
	margin-top: 33px;
}
header .name{
	width: 540px;
	height: 100%;
	font-weight: bold;
	font-size: 22px;
	line-height: 114px;
	color: #FF6537;
}
header .dh{
	width: 600px;
	height: 100%;
	float: left;
	display: none;
}
header .dh ul li{
	width: 100px;
	height: 40px;
	margin-top: 37px;
	border-radius: 5px;
	border: 2px solid #fff;
	text-align: center;
	line-height: 36px;
	float: left;
}
header .dh ul li a{
	font-size: 18px;
	color: #000;
	text-decoration: none;
}
header .dh ul li:hover{
	background: #FF6637;
}
header .dh ul li:hover a{
	color: #fff;
}
header .dh ul li:nth-child(5) {
	background: #FF6637;
}
header .dh ul li:nth-child(5) a {
	color: #fff;
}
.banner{
	width: 100%;
	height: 200px;
	background-image: url('../img/9.jpg');
	background-size:cover;
	background-position: center;
}
.wenzhang .title{
	width: 100%;
	height: 113px;
	font-size: 24px;
	font-weight: bold;
	color: #000;
	padding-top: 30px;
}
.wenzhang .content{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
	border-top: 1px solid #C1C1C1;
	border-bottom: 1px solid #C1C1C1;
}
.wenzhang .content h5{
	line-height: 30px;
}
.wenzhang  .last{
	width: 100%;
	height: 110px;
	padding-top: 25px;
}
.wenzhang  .last a{
	color: #545454;
	float: left;
}
.wenzhang  .last h5{
	color: #545454;
	float: right;
	margin: 0;
}
.wenzhang .share{
	width: 100%;
	height: 70px;
	padding-left: ;
}
.wenzhang .share h5{
	float: right;
	padding-top: 5px;
}
.wenzhang .share i{
	float: right;
	font-size: 34px;
	padding-left: 10px;
}
.wenzhang .share i:nth-child(3){
	color: #43C624;
}
.wenzhang .share i:nth-child(2){
	color: #FF4A4B;
}
.wenzhang .share i:nth-child(1){
	color: #FCBB21;
}
.bottom{
	width: 100%;
	height: 60px;
	background-color: #1D1D1D;
}
.bottom p{
	color: #fff;
	text-align: center;
	line-height: 60px;
}
.sort{
	width: 45px;
	height: 300px;
	position: fixed;
	bottom: -100px;
	right: 21px;
	display: none;
}
.sort ul{
	width: 45px;
	height: 240px;
}
.sort ul li{
	width: 40px;
	height: 40px;
	background: #fff;
	border:1px solid #F5F5F5 ;
	text-align: center;
	line-height: 40px;
	color: #757575;
	cursor: pointer;
	font-weight: bold;
	font-size: 10px;
}
.sort ul li:nth-child(4){
	margin-top: 15px;
}
.sort ul li:hover{
	color: #ff6700;
}
@media screen and (min-width:768px){
	header .name{
		width: 540px;
		height: 100%;
		font-weight: bold;
		font-size: 30px;
		line-height: 114px;
		color: #FF6537;
		float: left;
		/* margin-left: 135px; */
	}
	.banner{
		height: 300px;
	}
}
/* 普通pc端，中等屏幕 col-md- >992px */
@media screen and (min-width:992px){
	header .list i{
		display: none;
	}
	.sort{
		display: inline;
	}
	header .name{
		width: 338px;
		height: 100%;
		font-weight: bold;
		font-size: 30px;
		line-height: 114px;
		color: #FF6537;
		margin-left: 25px;
	}
	header .dh{
		width: 600px;
		height: 100%;
		float: left;
		display: inline;
	}

}
/* 大屏幕 col-lg- >1200px */
@media screen and (min-width:1200px){
	header .name{
		width: 500px;
		margin-left: 135px;
	}
}	